/* GamePanel.module.css */

.game_panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.row {
  display: block;
  justify-content: space-between;
}

.cell {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color_0 {
  background-color: #eee4da;
}
.color_1 {
  background-color: #ede0c8;
}
.color_2 {
  background-color: #f2b179;
}
.color_3 {
  background-color: #f59563;
}
.color_4 {
  background-color: #f67c5f;
}
.color_5 {
  background-color: #f65e3b;
}
.color_6 {
  background-color: #edcf72;
}
.color_7 {
  background-color: #edcc61;
}
.color_8 {
  background-color: #edc850;
}
.color_9 {
  background-color: #edc53f;
}
.color_10 {
  background-color: #edc22e;
}
.color_11 {
  background-color: #3c3a32;
  color: red;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .game_panel {
    grid-template-columns: repeat(2, 1fr);
  }
}
