/* GameHeading.module.css */

.game_heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.game_heading h1 {
  font-size: 2em;
  margin: 0;
  text-shadow: 2px 2px #000000;
}

.scores {
  display: flex;
}

.score {
  margin-right: 20px;
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 5px 25px;
  height: fit-content;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .game_heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .scores {
    margin-top: 10px;
  }
}
