.game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game_container {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
}

.backButton {
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
}

.Titles {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
  text-align: center;
  margin-top: 5%;
}

.Title {
  font-size: 85px;
  color: #776e65;
}

.SubTitle {
  font-size: 28px;
  color: #773e65;
  width: fit-content;
  border: 2px solid lightcoral;
  border-radius: 6px;
  background: lightcoral;
  transform: translate(200%, -50%);
}
