/* styles/MainMenu.module.css */

.MainMenu {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 10px;
  width: 80%;
  max-width: 500px;
  height: fit-content;
  margin: 2.5% auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.Titles {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: fit-content;
  text-align: center;
  margin-top: 5%;
}

.Title {
  font-size: 50px;
  color: #776e65;
}

.SubTitle {
  font-size: 20px;
  color: #773e65;
  width: fit-content;
  border: 2px solid lightcoral;
  border-radius: 6px;
  background: lightcoral;
  transform: translate(19.5vw, -40%);
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.MenuButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  width: 80%;
  max-width: 300px;
  font-weight: bold;
  color: white;
  height: 3em;
  border: none;
  border-radius: 8px;
  background: #8b7d6b;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MenuButton:hover {
  background: #7a6b5a; /* Slightly darker shade for hover effect */
}

.SideIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 20%;
  border: 1px solid #776e65;
  background: #776e65;
  margin-right: 25px;
  margin-left: -5px;
  border-radius: 8px;
  margin-bottom: 0.5px;

  /* Make FontAwsome size a bit smaller */
}

.ButtonText {
  flex: 1; /* Ensure the text takes up the remaining space */
  text-align: left; /* Align text to the left */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1024px) {
  .MainMenu {
    width: 90%;
    height: 85vh;
  }

  .Title {
    font-size: 72px;
  }

  .SubTitle {
    font-size: 30px;
    transform: translate(42.5vw, -40%);
  }

  .MenuButton {
    font-size: 30px;
    margin-top: 10px;
  }
}

@media screen and (min-height: 800px) {
  .MainMenu {
    width: 50vw;
    height: 85vh;
    max-width: 1000px;
  }

  .Title {
    font-size: 72px;
  }

  .SubTitle {
    font-size: 40px;
    transform: translate(25vw, -25%);
  }

  .MenuButton {
    font-size: 30px;
    margin-top: 10px;
  }
}
